<!-- PO.ST BEGIN -->
<div class="pw-widget pw-size-large">
	<span style="font-size:32px;"><i class="fa fa-share-square-o"></i>&nbsp;</span>
	<a class="pw-button-googleplus"></a>
	<a class="pw-button-weibo"></a>
	<a class="pw-button-delicious"></a>
	<a class="pw-button-facebook"></a>
	<a class="pw-button-twitter"></a>
	<a class="pw-button-tumblr"></a>
	<a class="pw-button-post"></a>
</div>
<script src="http://i.po.st/static/v3/post-widget.js#publisherKey=p6pqlb53ca18934cteu2&retina=true" type="text/javascript"></script>
<!-- PO.ST END -->