<span class="pull-right">
    <a class="link" href="https://twitter.com/{{ site.author.twitter }}/" rel="me" title="Follow my Twitter!">
        <i id="twitter-ic" class="fa fa-twitter"></i>
    </a>
    <a class="link" href="https://plus.google.com/{{ site.author.googleplus }}/" rel="publisher" title="Plus me on Google+!">
        <i id="google-ic" class="fa fa-google-plus-square"></i>
    </a>
    <a class="link" href="https://www.facebook.com/{{ site.author.facebook }}/" rel="me" title="Connect me on Facebook!">
        <i id="facebook-ic" class="fa fa-facebook-square"></i>
    </a>
    <a class="link" href="http://weibo.com/{{ site.author.weibo }}/" rel="me" title="关注我的新浪微博!">
        <i id="weibo-ic" class="fa fa-weibo"></i>
    </a>
    <a class="link" href="/feed.xml" title="Subscribe ChenJun.COM's Feed!">
        <i id="rss-ic" class="fa fa-rss"></i>
    </a>
</span>