		  <span class="pull-right">
                            <a id="twitter-ic" class="link" href="https://twitter.com/{{ site.author.twitter }}/" rel="me" title="Follow my Twitter!">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a id="google-ic" class="link" href="https://plus.google.com/{{ site.author.googleplus }}/" rel="publisher" title="Plus me on Google+!">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a id="facebook-ic" class="link" href="https://www.facebook.com/{{ site.author.facebook }}/" rel="me" title="Connect me on Facebook!">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a id="weibo-ic" class="link" href="http://weibo.com/{{ site.author.weibo }}/" rel="me" title="关注我的新浪微博!">
                                <i class="fa fa-weibo"></i>
                            </a>
							<a id="rss-ic" class="link" href="/feed.xml" title="Subscribe ChenJun.COM's Feed!">
                                <i class="fa fa-rss"></i>
                            </a>
                        </span>